@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Regular", sans-serif;
}

h1, h2, h3, a {
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    width: 50%;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    background-color: rgba(128, 128, 128, 0.192);
}

.pink {
    color: #FF4676
}

.blue {
    color: #68D8EE
}

.yellow {
    color: #FFE17A
}

.purple {
    color: #DB7CF2
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0.9rem 2rem;
}

.container-header-hero-footer {
    width: 100%;
    margin: 0px;
    padding: 0.9rem 2rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-logo {
    object-fit: contain;
}

.main-menus {
    display: flex;
    gap: 2.5rem;
}

.main-menu:hover {
    border-bottom: 1px solid black;
    transition: all 0.2s ease-in;
}

.main-menu a {
    color: black;
}

#hero {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    height: 35vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero a {
    margin-bottom: 3rem;
}

.cta {
    padding: 1rem 1.5rem;
    border: 1px solid;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in;
}

.cta-primary {
    color: white;
    background-color: #FF4676;
    border-color: #FF4676;
}

.cta-primary:hover {
    color: #FF4676;
    background-color: white;
    border-color: #FF4676;
}

.cta-secondary {
    color: #FF4676;
    border-color: #FF4676;
}

.cta-secondary:hover {
    color: white;
    background-color: #FF4676;
    border-color: #FF4676;
}

#approach-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.approach {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    width: 80%;
}

.approach-img-container {
    width: 44%;
    padding-bottom: 1rem;
}

.approach-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.approach-contents {
    width: 50%;
}

.approach-content h2 {
    padding-left: 0.5rem;
}

.approach-list::before {
    content: "- ";
}

.separators {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

#method-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
}

.method-p {
    width: 60%;
    max-width: 35vw;
}

.method-big-four {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    width: 50%;
}

.big-four-container {
    width: 45%;
}

.big-four-container p {
    padding: 0px 2rem;
}

.hearts::after {
    content: "(source Gallup 2017)";
    display: block;
    font-size: 0.8rem;
}

.fusee::after {
    content: "(source Gallup et Harter&al)";
    display: block;
    font-size: 0.8rem;
}

.puzzle::after {
    content: "(source Kantar TNS et Deloite)";
    display: block;
    font-size: 0.8rem;
}

#accompaniments {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.accompaniments-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    width: 90%;
}

.accompaniments-content {
    width: 33%;
    position: relative;
    padding-bottom: 4rem;
}

.accompaniments-list {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.peps-talents {
    position: relative;
}

.peps-talents::after {
    content: "tes talents";
    display: block;
}

.peps-talents::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    display: block;
    width: 65%;
    z-index: -1;
    border-bottom: 0.9rem solid #68D8EE;
    transform: translate(-50%);
}

.peps-carriere {
    position: relative;
}

.peps-carriere::after {
    content: "ta carriere";
    display: block;
}

.peps-carriere::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    display: block;
    width: 60%;
    z-index: -1;
    border-bottom: 0.9rem solid #FFE17A;
    transform: translate(-50%);
}

.peps-commerciale {
    position: relative;
}

.peps-commerciale::after {
    content: "force commerciale";
    display: block;
}

.line-purple::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    display: block;
    width: 90%;
    z-index: -1;
    border-bottom: 0.9rem solid #DB7CF2;
    transform: translate(-50%);
}

.cta-bottom {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 0px;
}

#no-regret {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.no-regret-contents {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    width: 90%;
}

.no-regret-content {
    padding: 3rem 1.5rem 0px;
    width: 33%;
    border: 1px solid #78e4d6;
    position: relative;
}

.img-no-regret-container {
    position: absolute;
    left: 50%;
    top: 0%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1rem solid white;
}

.title-commercial::before {
    content: "Stephane de Checci";
    display: block;
    font-size: 0.8rem;
}

.title-director::before {
    content: "Nicolas Besnard";
    display: block;
    font-size: 0.8rem;
}

.title-marketing::before {
    content: "Cecile Chevallier de Mijola";
    display: block;
    font-size: 0.8rem;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-contents {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blog-contents::after {
    position: absolute;
    left: 50%;
    bottom: 0px;
    content: "";
    width: 93vw;
    display: inline-block;
    border-bottom: 1px solid #78e4d6;
    transform: translate(-50%);
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 74%;
}

.did-you-know::before {
    content: "Le saviez-vous ?";
    display: block;
}

.blog-img-container {
    width: 25%;
    height: 21vh;
}

.img-blog {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 2rem;
    gap: 2rem;
}

.contact {
    border-left: 1px solid black;
    width: 50%;
    padding-left: 2rem;
}

.contact p {
    margin-top: 0px;
}

.contact a {
    color: black;
}

.contact a:hover {
    border-bottom: 1px solid black;
    transition: all 0.2s ease-in;
}

#remerciment ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#remerciment ul li {
    border-left: 1px solid black;
    padding-left: 1rem;
}

#remerciment ul li:first-child {
    border-left: none;
}