@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Regular", sans-serif;
}

h1, h2, h3, a {
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    width: 50%;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.pink {
    color: #FF4676
}

.blue {
    color: #68D8EE
}

.yellow {
    color: #FFE17A
}

.purple {
    color: #DB7CF2
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0.9rem 2rem;
}

.container-header-hero-footer {
    width: 100%;
    margin: 0px;
    padding: 0.9rem 2rem;
}

#img-logo {
    object-fit: contain;
}

#main-menus {
    display: flex;
    gap: 2.5rem;
}

.main-menu:hover {
    border-bottom: 1px solid black;
    transition: all 0.2s ease-in;
}

.main-menu a {
    color: black;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    height: 35vh;
}

.cta {
    padding: 1rem 1.5rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

.cta-primary {
    color: white;
    background-color: #FF4676;
    border-color: #FF4676;
}

#approach-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#approach {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    width: 80%;
}

#approach-img-container {
    width: 44%;
    padding-bottom: 1rem;
}

#approach-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#approach-contents {
    width: 50%;
}

.approach-content h2 {
    padding-left: 0.5rem;
}

.approach-list::before {
    content: "- ";
}

#separators {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}