@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Regular", sans-serif;
}

h1, h2, h3, a {
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

.pink {
    color: #FF4676
}

.blue {
    color: #68D8EE
}

.yellow {
    color: #FFE17A
}

.purple {
    color: #DB7CF2
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0.9rem 2rem;
}

.container-header-hero-footer {
    width: 100%;
    max-width: 1540px;
    margin: 0px;
    padding: 0.9rem 2rem;
}

#img-logo {
    object-fit: contain;
}

#main-menus {
    display: flex;
    padding-left: 0px;
    gap: 2.5rem;
}

.main-menu {
    list-style: none;
}

.main-menu:hover {
    border-bottom: 1px solid black;
    transition: all 0.2s ease-in;
}

.main-menu a {
    color: black;
}